<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @queen.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @queen.bio %>
</p>

<p>
  <strong>City:</strong>
  <%= @queen.city %>
</p>

<p>
  <strong>Twitter:</strong>
  <a href="http://www.twitter.com/<%= @queen.twitter %>" target="_blank"><%= @queen.twitter %></a>
</p>

<p>
  <strong>Avatar:</strong>
  <img src="<%= @queen.avatar %>" alt="<%= @queen.name %>" style="max-width: 400px">
</p>

<%= link_to 'Edit', edit_queen_path(@queen) %> |
<%= link_to 'Back', queens_path %>
